<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>权限管理首页</title>
<!-- <jsp:include page="../shared/manager_headtitle.jsp"></jsp:include> -->
#parse("/shared/manager_headtitle.html")
<body>
	<!-- <jsp:include page="../shared/manager_head.jsp"></jsp:include> -->
	#parse("/shared/manager_head.html")
	<div class="manager_main">
		<div class="content">
			<div class="leftbox">
				<!-- Begin of  #contentlist -->
				<div id="pageIntro">
					<h2>欢迎进入权限管理页面</h2>
					
				</div>

			</div>
			<!-- <jsp:include page="../shared/manager_siderbar.jsp"></jsp:include> -->
			#parse("/shared/manager_siderbar.html")
		</div>
	</div>
	<!-- <jsp:include page="../shared/manager_footer.jsp"></jsp:include> -->
	 #parse("/shared/manager_footer.html")     
</body>
</html>


