<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>后台管理页面</title>
#parse("/shared/manager_headtitle.html")
<link rel="stylesheet" type="text/css" href="/styles/manager/stock/instock.css" />
<script type="text/javascript" src="/scripts/js/jquery-1.6.2.js"></script>
<script type="text/javascript" src="/scripts/stock/instock.js"></script>
<body>
	#parse("/shared/manager_head.html")
	<div class="manager_main">
		<div class="content">
			<div class="leftbox">
				<!-- Begin of  #contentlist -->
				<div id="pageIntro">
							<div id="success" class="hidden"><img src="/images/stock/actionsuccess.png"/></div>
                            <div id="error" class="hidden"><img src="/images/stock/actionerror.png"/></div>
							<div style="margin:20px auto">
								<form action="" method="post">
										<div style="margin:0 auto;width:600px"">
											<label style="font-size:25px;">订单号:</label> 
											<input type="text" name="ordernumber" id="ordernumber" style="width:350px; height:30px;font-size:25px;"/>
											<input type="button" id="bt" style="width:100px; height:30px;font-size:20px;" value="确认入库"/>
										</div>
								</form>	 
							</div>
							
						<div class="contentBox">
							<div class="contentBoxTop">
								<h3>
                    订单信息</h3>
							</div>
							<div class="innerContent" style="height:100px">
										<div id="orderMessage">
											<table class="sTable">
												<tr>
													<th>序号</th>
													<th>订单号</th>
													<th>异常状态</th>
													<th>客户用户名</th>
													<!-- <th>发货地</th>
													<th>目的地</th> -->
												</tr>
											</table>
										</div>
								
							</div>
						</div>
					
				</div>

			</div>
			#parse("/shared/manager_siderbar.html")
		</div>
	</div>
	 #parse("/shared/manager_footer.html")
</body>
</html>
