	<div id="footer">
				<div id="footer_info" class="clearfix">
					<div class="footer_info_left">
						<ul>
							<li class="pa01">
								<a href="#">考斯特物流</a>
							</li>
						</ul>
					</div>
					<div class="footer_info_right">
						<ul>
							<li>
								<a href="#">XXXX</a>
							</li>
							<li>
								<a href="#">XXXX</a>
							</li>
							<li>
								<a href="#">XXXX</a>
							</li>
							<li>
								<a href="#">XXXX</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--footer结束-->
	</body>
</html>